@import '../../styling/variables';
@import '../../styling/mixins';

.formBuilder,
.fobuComponents {
  .textarea {
    background: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
    display: inline-block;
    border: none;
    padding: 10px;
    border-radius: 0;
    background: white;

    &:focus {
      outline: none;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
    }

    &::placeholder {
      padding-top: 10px;
    }

    &__label {
      @include fontsize(14px);
      color: $font-color-primary;
      display: block;
      margin-bottom: 4px;
    }
    &__feedbackMessage {
      display: none;
      color: $font-color-error;
      padding: 10px 0;
      @include fontsize(12px);
    }
    &__container {
      margin-bottom: 20px;
    }
  }
  .textarea__container.textarea__container--error {
    .textarea__feedbackMessage {
      display: block;
    }
  }
}
