@import '../../styling/variables';
@import '../../styling/mixins';

.formBuilder, .fobuComponents {
  .section {
    min-width: 80%;
    margin-bottom: 20px;
    &__title {
      color: $font-color-primary;
    }
    &__description {
      color: $font-color-secondary;
      margin-top: 5px;
    }
    &__contents {
      margin-top: 10px;
      min-height: 60vh;
      background: $color-background-light;
      padding: 20px;
    }
  }
}
