$document-fontsize: 16px;
$font-color-primary: #243B53;
$font-color-secondary: #334E68;
$font-color-contrast: #F0F4F8;
$font-color-success: #5DBE94;
$font-color-error: #EA4D4D;
$color-background-light: #F0F4F8;
$color-background-darker: #D9E2EC;
$color-background-stillDarker: #9FB3C8;
$color-background-darkest: #243B53;
@import "./mixins";

.formBuilder {
  a{
      cursor: pointer;
      text-decoration: none;
      color:$font-color-primary;
      margin: 0;
  }

  h1 {
      @include fontsize(48px);
      color:$font-color-primary;
      margin:0;
  }

  h2 {
      @include fontsize(32px);
      color:$font-color-primary;
      margin:0;
  }

  h3 {
     @include fontsize(24px);
     color:$font-color-primary;
     margin:0;
  }
  h4 {
      @include fontsize(20px);
      color:$font-color-primary;
      margin:0;
  }
  h5 {
      @include fontsize(18px);
      color:$font-color-primary;
      margin:0;
  }
  p {
      color:$font-color-primary;
      @include fontsize(15px);
      margin: 0;
  }
}
