@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

.formBuilder {
  font-family: 'Open Sans', sans-serif;
  a{
      cursor: pointer;
      text-decoration: none;
      color:$font-color-primary;
      margin: 0;
  }

  h1 {
      @include fontsize(48px);
      color:$font-color-primary;
      margin:0;
      font-weight: normal;
  }

  h2 {
      @include fontsize(32px);
      color:$font-color-primary;
      margin:0;
      font-weight: normal;
  }

  h3 {
     @include fontsize(24px);
     color:$font-color-primary;
     margin:0;
     font-weight: normal;
  }
  h4 {
      @include fontsize(20px);
      color:$font-color-primary;
      margin:0;
      font-weight: normal;
  }
  h5 {
      @include fontsize(18px);
      color:$font-color-primary;
      margin:0;
      font-weight: normal;
  }
  p {
      color:$font-color-primary;
      @include fontsize(15px);
      margin: 0;
  }
}
