@mixin fontsize($target, $context:$document-fontsize) {
    font-size: #{$target/$context}em;
}

@mixin button {
    padding:15px 25px 15px 25px;
    font-size: 1em;
    color:$font-color;
    font-weight: 600;
    cursor:pointer;
    outline: none;
}

@mixin flex-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
	        flex-direction:column;

}

@mixin flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	    -ms-flex-direction:row;
	        flex-direction:row;
}

@mixin main-axis-center{
    -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}

@mixin main-axis-flex-start {
    -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
}

@mixin main-axis-flex-end {
    -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
}

@mixin main-axis-space-around {
    -ms-flex-pack:distribute;
      justify-content:space-around;
}

@mixin main-axis-space-between {
      -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}

@mixin cross-axis-center {
    -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

@mixin cross-axis-flex-start {
      -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
}

@mixin cross-axis-flex-end {
      -webkit-box-align:end;
      -ms-flex-align:end;
          align-items:end;
}

@mixin cross-axis-stretch {
    -webkit-box-align:stretch;
      -ms-flex-align:stretch;
          align-items:stretch;
}
