$document-fontsize: 16px;
$font-color-primary: #243b53;
$font-color-secondary: #334e68;
$font-color-contrast: #f0f4f8;
$font-color-success: #5dbe94;
$font-color-error: #ea4d4d;
$color-background-light: #f0f4f8;
$color-background-darker: #d9e2ec;
$color-background-stillDarker: #9fb3c8;
$color-background-darkest: #243b53;
