@import '../../styling/globals';
@import '../../styling/mixins';

.checkbox {
  &__container {
    @include flex-row;
    @include cross-axis-center;
    @include main-axis-flex-start;
  }

  &__drawingContainer {
    position: relative;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-right: 5px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 100%;
      width: 100%;
      z-index: 2;
    }
  }
  &__custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
}


.checkbox__drawingContainer:hover input ~ .checkbox__custom {
  background-color: $color-background-light;
}

.checkbox__drawingContainer input:checked ~ .checkbox__custom {
  background-color: $color-background-stillDarker;
}

.checkbox__custom:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox__drawingContainer input:checked ~ .checkbox__custom:after {
  display: block;
}

.checkbox__drawingContainer .checkbox__custom:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
